altair
attrs
blinker
Bottleneck
Brotli
cachetools
certifi
charset-normalizer
click
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
numexpr
numpy==1.26.4
packaging
pandas
pillow
protobuf==4.25.3
pydeck
Pygments
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
rich
rpds-py
setuptools==75.1.0
six
smmap
streamlit
tenacity
toml
toolz
tornado
typing_extensions
tzdata
urllib3
wheel==0.44.0
psycopg2
psycopg2-binary==2.9.10
boto3